:root {
  --white-color: #fff;
  --orange-color: #FC5531;
  --red-color: #fc1944;
  --red-color2: #E33E33;
  --gray-color: rgba(0, 0, 0, .1);
  --gray-color2: #F5F6F7;
  --gray-color3: #E8E8ED;
  --gray-color4: f0f0f2;
  --gray-color5: #d1ddf1;
  --gray-color6: #f6f7f9;
  --gray-text: #999AAA;
  --wrapper-gray: #00000080;
  --orange-btn-color: #EE9B86;
  --wrong-color: red;
  --success-color: #56c319;
  --black-color: #000;
  --black-color2: #555666;
  --black-color3: #222226;
  --gold-color: #c0801b;
  --gold-color2: #fff5e9;
  --gold-color3: #f8cc8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;

}

.clearfix::after {
  clear: both;
}

.clearfix {
  /* IE6,7专有 */
  *zoom: 1;
}

em,
i {
  font-style: normal;
}

input {
  vertical-align: middle;
  border: 0;
  outline: 0;
}

button {
  border: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* 导航栏制作 */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100vw;
  min-width: max-content;
  height: 48px;

  background-color: var(--white-color);
  box-shadow: 1px 1px 10px 1px var(--gray-color2);
}

.nav-container {
  display: flex;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

nav .menu {
  display: flex;
  flex: none;
}

/* logo */
.logo {
  margin-right: 8px;
  width: 80px;
  height: 100%;
}

.logo img {
  margin: 2px 0 0;
  width: 80px;
}

/* menu的主体部分 */
.menu ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu ul li {
  height: 100%;
  padding: 0 10px;
  transition: all 1 ease-in-out;
}

.menu ul li a {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu ul li img {
  height: 32px;
}

.new-icon {
  margin: 0 0 -3px 0;
}

/* 灰色hover显示 */
.msg-box li:hover,
.menu ul li:hover,
.small-account-info li:hover,
.small-account-bottom li a:hover {
  background-color: var(--gray-color);
}

/* serach搜索模块 */
nav .search-service {
  flex: 1;
  padding: 8px 32px;
}

/* 左边的盒子 */
.search-service div {
  display: flex;
  align-items: center;
  float: left;
  padding: 0 10px;
  width: calc(100% - 88px);
  height: 32px;
  border-radius: 16px 0 0 16px;
  background-color: var(--gray-color2);
  border: 1px solid var(--gray-color3);
  border-right: 0;
  transition: width 1s ease-in-out;
}

.search-service div i {
  width: 16px;
  height: 16px;
  color: var(--orange-color);
}

.search-service div input {
  padding: 0 5px;
  flex: 1;
  height: 100%;
  background-color: transparent;
}

/* 按钮 */
.search-service button {
  float: left;
  width: 88px;
  height: 32px;
  color: var(--white-color);
  border-radius: 0 16px 16px 0;
  background-color: var(--orange-color);
}

.search-service button i {
  padding-right: 5px;
}

/* 红色hover显示 */
.search-service button:hover,
.history-btn:hover {
  background-color: var(--red-color);
}

/* 导航栏的user模块 */
.user-service {
  display: flex;
  align-items: center;
}

.user-service li a {
  padding: 0 1px;
}

/* 登录 */
.small-account {
  position: relative;
  width: 60px;
  height: 48px;
}

/* small-avatar */
.small-account>a {
  position: absolute;
  z-index: 2;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--gray-color3);
  object-fit: cover;
}

/* 大盒子 */
.small-account-box {
  position: absolute;
  top: 100%;
  left: 35%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 2px 3px 20px -5px var(--gray-color);
  min-width: 410%;
  max-width: 500%;
}

.small-account-nickname {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 80px 12px 80px;
  font-size: 16px;
  border-bottom: 1px solid var(--gray-color3);
}

.small-account-nickname li {
  width: 100%;
  text-align: center;
}

.small-account-nickname .name {
  white-space: nowrap;
}

.small-account-follow {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid var(--gray-color3);
}

.small-account-follow li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow-num1,
.follow-num2,
.follow-num3 {
  font-size: 20px;
  font-weight: 700;
}

.small-account-info {
  padding: 10px 0;
  border-bottom: 1px solid var(--gray-color3);
}

.small-account-info li {
  padding: 10px;
  width: 100%;
}

.small-account-info li a {
  display: block;
  width: 100%;
}

.small-account-box span {
  display: inline-block;
  width: 25px;
  height: 16px;
  text-align: center;
  color: var(--gray-text);
}

.small-account-bottom li {
  padding: 5px 0;
  border-bottom: 1px solid var(--gray-color3);
}

.small-account-bottom li a {
  display: block;
  padding: 15px 10px;
  width: 100%;
}

.small-account-box {
  display: none;
}

/* 会员中心制作 */
.membership {
  position: relative;
}

.membership:hover .membership-box {
  display: flex;
}

.membership-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  width: 400%;
  box-shadow: 1px 1px 10px 1px var(--gray-color3);
  border-radius: 10px;
}

.triangle-border {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-bottom: 7px solid var(--gray-color3);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.triangle-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-bottom: 6px solid var(--gold-color2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.membership-top {
  background: url(../images/membership/background.png) no-repeat center center;
}

.membership-top h4 {
  padding: 10px;
  color: var(--gold-color);
  font-weight: normal;
  font-size: 16px;
}

.membership-box ul {
  padding: 10px;
  width: 100%;
  display: flex;
}

.membership-box ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.membership-box ul li img {
  width: 80%;
  height: 100%;
}

.membership-bottom {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-text);
  background-color: var(--white-color);
}

.membership-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 32px;
  border-radius: 16px;
  color: var(--gold-color);
  background: linear-gradient(135deg, var(--gold-color2), var(--gold-color3));
}

/* 会员中心结束 */

/* msg制作 */
.msg {
  position: relative;
}

.circle {
  position: absolute;
  right: 5px;
  top: 15px;
  width: 5px;
  height: 5px;
  background-color: var(--orange-color);
  border-radius: 50%;
}

.msg:hover .msg-box {
  display: block;
}

.msg-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 220%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  box-shadow: 1px 1px 10px 1px var(--gray-color3);
}

.msg-box ul {
  padding: 10px 0;
}

.msg-box ul li {
  padding: 10px 0 10px 20px;
  color: var(--black-color2);
}

.msg-box ul li a {
  position: relative;
}

.msg-box .circle {
  top: 0;
  right: -5px
}

.msg-box .triangle-content {
  border-bottom: 6px solid var(--white-color);
}

/* msg制作结束 */
/* history模块制作 */
.history {
  position: relative;
}

.visitor-box {
  display: none;
  padding: 20px;
  position: absolute;
  top: 100%;
  right: -20%;
  background-color: var(--white-color);
  box-shadow: 1px 1px 10px 1px var(--gray-color3);
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.visitor-box p {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  color: var(--black-color2);
}

.history .triangle-border {
  left: 90%;
}

.history .triangle-content {
  border-bottom: 6px solid var(--white-color);
}

.history-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 334px;
  height: 40px;
  color: var(--white-color);
  border-radius: 20px;
  background-color: var(--orange-color);
}

.my-history-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  height: 200px;
  background-color: var(--white-color);
  box-shadow: 1px 1px 10px 1px var(--gray-color3);
}

/* history模块制作结束 */
.user-service>li {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
}

.user-service>li>a {
  display: flex;
  align-items: center;
}

.user-service span {
  padding-right: 3px;
}

.user-service img {
  width: 14px;
}

/* 发布按钮 */
.release button {
  width: 80px;
  height: 32px;
  color: var(--white-color);
  background-color: var(--orange-color);
  border-radius: 16px;
}

.release button i {
  padding-right: 5px;
}

/* 发布按钮 */
.release {
  position: relative;
}

.release:hover .release-box {
  display: block;
}

.release-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 20px;
  box-shadow: 1px 1px 10px 1px var(--gray-color3);
  border-radius: 5px;
  background-color: var(--white-color);
}

.release-service {
  margin: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-color3);
}

.release-service li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
  padding: 10px;
  color: var(--black-color2)
}

.release-service li:first-child {
  padding-left: 0;
}

.release-service li:last-child {
  padding-right: 0;
}

.icon-box {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--gray-color3);
  color: var(--gray-text)
}

.release-topic {
  margin: 20px 15px;
}

.release-topic-header {
  display: flex;
  justify-content: space-between;
}

.release-topic-header a {
  color: var(--gray-text);
}

.release-topic-avatar {
  padding: 10px 0;
  display: flex;
}

.release-topic-avatar li {
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.release-topic-avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.release-topic-bottom {
  color: var(--black-color2);
}

.release-topic-bottom a {
  display: flex;
  align-items: center;
}

.release-topic-bottom i {
  margin-right: 2px;
  width: 5px;
  height: 5px;
  background-color: var(--gray-text);
}

/* 发布按钮结束 */

@media screen and (max-width:1320px) {
  html {
    overflow-x: auto;
  }
}