.creation-container {
  margin: 0 auto;
  width: 1410px;
}

.creation-nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-width: max-content;
  height: 48px;

  background-color: var(--white-color);
  box-shadow: 1px 1px 10px 1px var(--gray-color2);
}

.creation-nav .nav-right>ul {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.creation-nav .nav-right>ul>li {
  padding: 10px;
  margin: 0 5px;
}

.creation-nav .small-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creation-nav .logo {
  margin: 0 80px 0 10px;
}

.creation-nav .nav-mid {
  flex: 1;
  font-size: 18px;
}

.nav-mid>div {
  display: inline-block;
  position: relative;
}

.creation-return-btn {
  display: inline-block;
  height: 48px;
  line-height: 48px;
}

.creation-nav .nav-mid i {
  padding: 5px;
}

.switch-genres {
  display: none;
  position: absolute;
  top: 100%;
  left: 30%;
  width: 115%;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 2px 3px 20px -5px var(--gray-color3);
}

.switch-genres h4 {
  padding: 10px 0 0 0;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

.switch-genres ul {
  margin: 10px 0;
}

.switch-genres a {
  padding: 8px 0 8px 20px;
  display: block;
  width: 100%;
  font-size: 14px;
  color: var(--black-color2)
}

.switch-genres a img{
  width: 15px;
  margin-right: 10px;
}

.switch-genres a:hover {
  background-color: var(--gray-color2);
}

.creation-return-btn:hover +.switch-genres {
  display: block;
}

.creation-module{
  display: none;
}