.text-primary {
  color: var(--orange-color);
}

/* 登录提示颜色 */
.wrong {
  color: var(--wrong-color);
}

.success {
  color: var(--success-color);
}

/* 登录框 */
.login-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: var(--wrapper-gray);
}

.login-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 410px;
  height: 534px;
  background-color: var(--white-color);
  border-radius: 10px;
}

/* 头部 */
.login-box header {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 10px;
  width: 100%;
  height: 70px;
  color: var(--gray-text);
  font-size: 14px;
  background-color: var(--gray-color);
}

.login-box header img {
  position: relative;
  bottom: -13px;
  height: 100%;
}

.login-box .close {
  position: absolute;
  left: -20px;
  top: -10px;
  cursor: pointer;
  font-size: 20px;
  color: var(--white-color)
}

/* 登录框标题 */
.login-title {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

/* 登录注册切换 */
.form-tag .active {
  position: relative;
  color: var(--black-color);
}

.active:after {
  content: '';
  position: absolute;
  top: 150%;
  left: 50%;
  width: 15px;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--black-color);
}

.form-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-tag li {
  cursor: pointer;
  padding: 0 30px;
  color: var(--gray-text)
}

.login-content {
  position: relative;
  display: none;
  margin-top: 10px;
  flex-direction: column;
  flex: 1;
  padding: 15px;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.form-item div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--gray-color2);
}

.login-box input {
  padding: 0 10px;
  flex: 1;
  height: 100%;
  background-color: transparent;
}

.login-box i {
  padding-right: 25px;
  width: 16px;
  height: 16px;
  color: var(--gray-color);
}

.login-msg {
  position: absolute;
  top: 125px;
  left: 25px;
  font-size: 12px;
}

.token {
  padding: 10px 0;
  text-align: right;
  font-size: 12px;
}

.token input {
  margin-right: 5px;
}

.login-box button {
  cursor: default;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: var(--white-color);
  border-radius: 20px;
  background-color: var(--orange-btn-color);
}

.agree {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
}

.agree a {
  padding: 0 5px;
  color: var(--gray-text);
}

.agree a:hover {
  text-decoration: underline;
  color: var(--orange-color);
}

.agree input {
  margin-right: 5px;
}

.forget {
  text-align: right;
  font-size: 12px;
}

.forget:hover {
  text-decoration: underline;
  color: var(--red-color)
}

.register-content {
  display: none;
  flex: 1;
  margin-top: 10px;
  flex-direction: column;
  flex: 1;
  padding: 15px;
}

.register-msg {
  font-size: 12px;
  /* text-align: center; */
}

.show {
  display: flex;
}

/* 忘记密码模块 */
.forget-module {
  display: none;
  position: relative;
  width: 100vw;
  min-width: max-content;
  background-color: var(--gray-color6);
}

.forget-module .return {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--gray-text);
}

.forget-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-width: max-content;
  height: 100vh;
}


.forget-content .small-logo {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget-content .small-logo img {
  width: 120px;
}

.forget-form {
  display: flex;
  flex-direction: column;
}

.forget-content label {
  padding-left: 2px;
  margin-bottom: 15px;
  font-size: 14px;
}

.forget-form i {
  padding-right: 25px;
  width: 16px;
  height: 16px;
  color: var(--gray-color);
}

.forget-form .username {
  margin: 5px 0;
  display: flex;
  align-items: center;
  width: 300px;
  height: 32px;
  background-color: var(--gray-color2);
  border: 1px solid var(--gray-color3);
  border-radius: 2px;
}

.forget-form .password {
  margin: 5px 0;
  display: flex;
  align-items: center;
  width: 300px;
  height: 32px;
  background-color: var(--gray-color2);
  border: 1px solid var(--gray-color3);
  border-radius: 2px;
}

.forget-form input {
  padding: 8px 30px 8px 8px;
  flex: 1;
  height: 100%;
  background-color: transparent;
}

.forget-msg {
  font-size: 14px;
}

.forget-content button {
  margin-top: 60px;
  width: 144px;
  height: 37px;
  align-self: center;
  border-radius: 5px;
  background-color: var(--gray-color3);
  color: var(--gray-text);
  font-weight: 700;
}

.copyright {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 300px;
  color: var(--gray-text);
  font-size: 14px;
}

/* 个人中心模块 */
.user-module {
  background-color: var(--gray-color2);
  display: none;
}

.user-module .container {
  width: 1320px;
}

/* 账号头部照片 */
.account-img {
  height: 100px;
  width: 100%;
  background: url(../images/user/background2.png) no-repeat center center;
}

/* 账号头部开始 */
.account-head {
  background-color: var(--white-color);
  padding: 16px;
}

.account-top {
  display: flex;
}

.account-avatar {
  margin-top: -30px;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--gray-color3);
}

.account-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.account-info {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.account-nickname {
  display: flex;
  align-items: center;
}

.account-nickname img {
  width: 22px;
  height: 22px;
}

.account-nickname>div {
  margin: 0 5px;
  display: flex;
  align-items: center;
  border-radius: 11px;
  background-color: var(--gray-color5);
}

.age-text {
  display: flex;
  font-size: 14px;
  padding: 3px;
}

.account-info h3 {
  font-weight: normal;
  font-size: 22px;
}

.account-info ul {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.account-info ul li {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  color: var(--black-color2);
}

.account-info ul li:hover .follow-num4,
.account-info ul li:hover .follow-num1,
.account-info ul li:hover {
  color: var(--red-color);
}

.account-info ul li::before {
  position: absolute;
  left: 0px;
  content: '';
  width: 1px;
  height: 15px;
  background-color: var(--gray-color3);
  ;
}

.account-info .follow-num1,
.account-info .follow-num4 {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 700;
  padding: 0 2px;
}

.account-operation {
  display: flex;
  flex: 1;
  display: flex;
  justify-content: end;
}

.account-operation li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid var(--gray-color);
  font-size: 14px;
  color: var(--black-color2);
}

.account-operation img {
  width: 14px;
  color: var(--gray-text);
  margin-right: 4px;
}

.account-operation a:hover {
  border: 1px solid var(--black-color);
}

.account-bottom {
  padding: 0 0 0 118px;
  display: flex;
  flex-direction: column;
}

.account-bottom {
  padding-bottom: 8px;
  font-size: 14px;
  color: var(--black-color2);
}

.account-bottom li {
  margin-bottom: 12px;
}

.account-bottom ul{
  height: 30px;
  overflow: hidden;
}
.unfold{
  cursor: pointer;
}

/* 账号头部结束 */

/* 页面主体制作 */
.user-content {
  height: 500px;
}

/* 页面主体制作结束 */
/* 页面footer制作 */
footer {
  display: flex;
  flex-direction: column;
  padding: 24px 0 20px 0;
  background-color: var(--white-color);
  font-size: 12px;
  color: var(--gray-text);
}

footer li {
  padding: 4px;
}

.footer-top {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-top li {
  padding: 0 8px;
}

.footer-top img {
  width: 14px;
  height: 14px;
}

.footer-mid {
  display: flex;
  justify-content: center;
}

.footer-mid img {
  width: 16px;
  height: 16px;
}

.footer-bottom {
  display: flex;
  justify-content: center;

}

/* footer制作结束 */